body{
    font-family: 'Special Elite', cursive; 
}
.header_div{
    background-color: white;
    color: red;
}
.main_div{
    background-color: pink;
}
.header_div p{
font-family: "Roboto";
color: gray;
letter-spacing: 2px;
font-size: 12px;
font-weight: bold;
}
.main_div button{
    font-family: "Roboto";
    margin-top: 30px;
    width: 130px;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: bolder;
}
.copy_right_footer{
   position: fixed;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: grey;
   text-align: center;
   line-height: 3px;
   font-size: 18px;
   margin-bottom: 20px;
}
